@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ReemKufiInk-Regular';
  src: url('/src/assets/font/Reem_Kufi_Ink/ReemKufiInk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Make scrollbar transparent */
::-webkit-scrollbar {
  width: 2px;          
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 2, 2, 0.603); 
  width: 10px;

}


::selection {
	background: rgb(189, 23, 23);
  color: black;
  
}