@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ReemKufiInk-Regular';
  src: url('/src/assets/font/Reem_Kufi_Ink/ReemKufiInk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Make scrollbar transparent */
::-webkit-scrollbar {
  width: 2px;          
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: red; 
  width: 10px;

}

.bottom-hide {
  overflow: visible; 
  position: relative;
}

.bottom-hide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background: linear-gradient(to top, white, transparent);
  pointer-events: none;
}

